[submodule "lib/flux-cpp"]
	path = lib/flux-cpp
	url = https://github.com/OperatorFoundation/flux-cpp.git
[submodule "lib/cmake-helpers"]
	path = lib/cmake-helpers
	url = https://github.com/OperatorFoundation/cmake-helpers.git
